.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content_div {
  display: flex;
  flex-direction: row;
}

.filter_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 20%;

  border: 1px solid black;
}

.recipes_div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.drinkdetails_div {
  width: 70%;
}

.itemfilter_div {
  display: flex;
  flex-direction: column;
}


.list-preview {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.list-container {
  width: 30vw;
  height: 100vh;
  overflow-y: auto;
  white-space: nowrap;
}
